@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

	.service .front {
		opacity: 1;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		transform: none;

	    -webkit-transition-property: opacity, border;
	    -webkit-transition-duration: .3s;
	    -webkit-transition-timing-function: ease;

	    -moz-transition-property: opacity, border;
	    -moz-transition-duration: .3s;
	    -moz-transition-timing-function: ease;

	    -ms-transition-property: opacity, border;
	    -ms-transition-duration: .3s;
	    -ms-transition-timing-function: ease;

	    -o-transition-property: opacity, border;
	    -o-transition-duration: .3s;
	    -o-transition-timing-function: ease;

	    transition-property: opacity, border;
	    transition-duration: .3s;
	    transition-timing-function: ease;
	}

	.service .back {
		opacity: 0;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		transform: none;
	
	    -webkit-transition-property: opacity, border;
	    -webkit-transition-duration: .3s;
	    -webkit-transition-timing-function: ease;

	    -moz-transition-property: opacity, border;
	    -moz-transition-duration: .3s;
	    -moz-transition-timing-function: ease;

	    -ms-transition-property: opacity, border;
	    -ms-transition-duration: .3s;
	    -ms-transition-timing-function: ease;

	    -o-transition-property: opacity, border;
	    -o-transition-duration: .3s;
	    -o-transition-timing-function: ease;

	    transition-property: opacity, border;
	    transition-duration: .3s;
	    transition-timing-function: ease;
	}


	.service.flip .flipper {
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		transform: none;
	}

	.service .inner {
	    -webkit-transition: none;
	    -moz-transition: none;
	    -o-transition: none;
	    transition: none;
	    -webkit-transform-style: none;
	    -moz-transform-style: none;
	    -o-transform-style: none;
	    transform-style: none;
	}

	.service:hover .inner {
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		transform: none;
	}

	.service:hover .front,
	.service.hover .front,
	.service.flip .front {
		opacity: 0;
	}

	.service:hover .back,
	.service.hover .back,
	.service.flip .back {
		opacity: 1;
	}

	.service .inner:before {
	    -webkit-transition-duration: .3s;
	    -moz-transition-duration: .3s;
	    -ms-transition-duration: .3s;
	    -o-transition-duration: .3s;
	    transition-duration: .3s;
	}

	.service:hover .inner:before {
	    -webkit-box-shadow: 0px 14px 15px 14px rgba(0, 0, 0, .17);
	    -moz-box-shadow: 0px 14px 15px 14px rgba(0, 0, 0, .17);
	    box-shadow: 0px 14px 15px 14px rgba(0, 0, 0, .17);
	}

	.gallery-arrow span,
	.append-arrows .slick-arrow span {
	    position: relative;
	    top: -2px;
	}

	.portfolio-slider .photos-block {
		top: -71px;
	}

}