@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/

@font-face {
    font-family: "Clear Sans";
    src: url("../fonts/ClearSans.eot");
    src: url("../fonts/ClearSans.eot?#iefix") format("embedded-opentype"),
        url("../fonts/ClearSans.woff2") format("woff2"),
        url("../fonts/ClearSans.woff") format("woff"),
        url("../fonts/ClearSans.ttf") format("truetype"),
        url("../fonts/ClearSans.svg#ClearSans") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Clear Sans";
    src: url("../fonts/ClearSans-Light.eot");
    src: url("../fonts/ClearSans-Light.eot?#iefix") format("embedded-opentype"),
        url("../fonts/ClearSans-Light.woff2") format("woff2"),
        url("../fonts/ClearSans-Light.woff") format("woff"),
        url("../fonts/ClearSans-Light.ttf") format("truetype"),
        url("../fonts/ClearSans-Light.svg#ClearSans-Light") format("svg");
    font-weight: 300;
    font-style: normal;
}


/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    color: #000000;
    font-size: 13px;
    line-height: 21px;
}


html,
body {
    min-height: 100%;
    min-width: 100%;
}

body {
    font-size: 15px;
    line-height: 24px;
    color: #232325;
    /*background-color: rgba(70, 70, 70, 1);*/
}

.wrapper {
    min-height: 100%;
    min-width: 100%;
    position: relative;
    z-index: 2;
}

.content {
    position: relative;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
}


.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

* html .clearfix {height: 1%;}
.clearfix {display: block;}

* html .clearfix             { zoom: 1; }
*:first-child+html .clearfix { zoom: 1; }



::-webkit-input-placeholder {color:#a5abb8;}
::-moz-placeholder          {color:#a5abb8;}
:-moz-placeholder           {color:#a5abb8;}
:-ms-input-placeholder      {color:#a5abb8;}

input,
textarea,
button,
select,
a,
img {
    outline: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
    text-indent: 0.01px;
    text-overflow: "";
}


*::-ms-expand { display: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

textarea {
    resize: none;
    overflow: auto;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

.animation-delay-onload {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}

.animation-delay {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
    animation-delay: .3s;
}

/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

section {
    position: relative;
    padding: 60px 0;
    min-height: 100vh;
}

h1 {
    font-family: "PT Serif", Arial, Verdana, sans-serif;
    font-size: 150px;
    line-height: 150px;
    font-weight: normal;
    color: #ffffff;
}

h2 {
    font-family: "PT Serif", Arial, Verdana, sans-serif;
    font-size: 72px;
    line-height: 120px;
    font-weight: normal;
    color: #1a1a1d;
}

.main-page h2 {
    font-family: "PT Serif", Arial, Verdana, sans-serif;
    font-size: 72px;
    line-height: 90px;
    font-weight: normal;
    color: #656050;
    text-align: center;
    padding: 18px 0;
}

h3 {
    font-family: "PT Serif", Arial, Verdana, sans-serif;
    font-size: 24px;
    line-height: 28px;
    font-weight: normal;
    font-style: italic;
    color: #000000;
}

p {
    font-family: "Clear Sans", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: normal;
    color: #232325;
}

li {
    list-style: none;
    font-family: "Clear Sans", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: normal;
    color: #232325;
}

a {
    text-decoration: none;
}

img {
    outline: none;
    border: 1px solid transparent;
}

button:hover,
button:active,
a:hover,
a:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.row {
    padding: 0;
    max-width: 1180px;
    margin: 0 auto;
}

.offset-ziro {
    font-size: 0;
    line-height: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.blue-btn {
    display: inline-block;
    vertical-align: top;
    min-width: 196px;
    text-align: center;
    border-width: 0;
    margin: 33px 0;
    padding: 12px 2% 14px 2%;
    background: rgba(51, 102 , 255, 1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    font-family: "Clear Sans", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    color: #ffffff;

    -webkit-transition-property: background, box-shadow;
    -webkit-transition-duration: .4s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background, box-shadow;
    -moz-transition-duration: .4s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background, box-shadow;
    -ms-transition-duration: .4s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background, box-shadow;
    -o-transition-duration: .4s;
    -o-transition-timing-function: ease;

    transition-property: background, box-shadow;
    transition-duration: .4s;
    transition-timing-function: ease;
}

.blue-btn:link,
.blue-btn:visted {
    background: rgba(51, 102 , 255, 1);
}

.blue-btn.active {
    background: rgba(0, 59, 234, 1);
    -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 50, 201, .46);
    -moz-box-shadow: 0px 10px 25px 0px rgba(0, 50, 201, .46);
    box-shadow: 0px 10px 25px 0px rgba(0, 50, 201, .46);
}

.blue-btn:active,
.blue-btn:hover {
    /*background: rgba(86, 128, 255, 1);*/
    /*background: rgba(20, 80, 255, 1);*/
    background: rgba(0, 59, 234, 1);
    -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 50, 201, .46);
    -moz-box-shadow: 0px 10px 25px 0px rgba(0, 50, 201, .46);
    box-shadow: 0px 10px 25px 0px rgba(0, 50, 201, .46);
}


/*-------------------------------------------*/
/* ----- HEADER ------ */
/*-------------------------------------------*/

header {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.header {

}

.header .top-row {
    padding: 14px 0;
    background: rgb(101,96,80);
    background: -moz-linear-gradient(left, rgba(101,96,80,1) 0%, rgba(81,78,67,1) 36%, rgba(68,65,58,1) 53%, rgba(49,48,46,1) 71%, rgba(35,35,37,1) 100%);
    background: -webkit-linear-gradient(left, rgba(101,96,80,1) 0%,rgba(81,78,67,1) 36%,rgba(68,65,58,1) 53%,rgba(49,48,46,1) 71%,rgba(35,35,37,1) 100%);
    background: linear-gradient(to right, rgba(101,96,80,1) 0%,rgba(81,78,67,1) 36%,rgba(68,65,58,1) 53%,rgba(49,48,46,1) 71%,rgba(35,35,37,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#656050', endColorstr='#232325',GradientType=1 );
}

.header .top-row .col {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}

.header .top-row .col-1 {
    padding: 0 76px 0 0;
}

.header .top-row .col-2 {
    padding: 0 0 0 76px;
    text-align: right;
}

.logo-block {

}

.social-list {

}

.social-list li {
    display: inline-block;
    vertical-align: bottom;
    padding: 5px 8px;
}

.social-list li a {
    display: block;
    width: 18px;
    height: 18px;
    font-size: 15px;
    line-height: 15px;
    color: #d3d1cb;

    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.social-list li a:link,
.social-list li a:visted {
    color: #d3d1cb;
}

.social-list li a.active {
    color: #ffffff;
}

.social-list li a:active,
.social-list li a:hover {
    color: #ffffff;
}

.social-list li a.mdi-facebook {
    width: 10px;
    height: 15px;
    font-size: 16px;
    line-height: 18px;
    position: relative;
    top: -3px;
}

.social-list li a.mdi-vk {
    width: 16px;
    font-size: 20px;
    line-height: 20px;
}

.social-list li a.mdi-twitter {
    position: relative;
    top: 3px;
}

.social-list li a.mdi-google-plus {
    width: 16px;
    font-size: 20px;
    line-height: 20px;
}

.social-list li a.mdi-instagram {
    width: 18px;
    font-size: 16px;
    line-height: 16px;
    position: relative;
    top: 2px;
}

.youtube-icon {
    display: block;
    width: 13px;
    height: 16px;
    position: relative;
}

.youtube-icon:before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    background-image: url(../img/youtube.png);
    background-position: center;
    background-size: 100%;

    -webkit-transition-property: opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.youtube-icon:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-image: url(../img/youtube_hover.png);
    background-position: center;
    background-size: 100%;

    -webkit-transition-property: opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.youtube-icon:hover:before {
    opacity: 0;
}

.youtube-icon:hover:after {
    opacity: 1;
}

.tel-link {
    display: inline-block;
    vertical-align: top;
    font-family: "PT Serif", Arial, Verdana, sans-serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: normal;
    color: #d3d1cb;
    margin: 4px 3%;

    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.tel-link:link,
.tel-link:visted {
    color: #d3d1cb;
}

.tel-link.active {
    color: #ffffff;
}

.tel-link:active,
.tel-link:hover {
    color: #ffffff;
}

.callback {
    display: inline-block;
    vertical-align: top;
    min-width: 84px;
    height: auto;
    text-align: center;
    margin: 6px 0;
    padding: 2px 2% 4px 2%;
    border: 1px solid #5e5c5b;
    font-family: "Clear Sans", Arial, Verdana, sans-serif;
    font-size: 12px;
    line-height: 13px;
    font-weight: 300;
    color: #d3d1cb;
    position: relative;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;

    -webkit-transition-property: color, border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color, border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color, border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color, border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color, border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.callback:link,
.callback:visted {
    color: #d3d1cb;
    border: 1px solid #5e5c5b;
}

.callback.active {
    color: #ffffff;
    border: 1px solid #ffffff;
}

.callback:active,
.callback:hover {
    color: #ffffff;
    border: 1px solid #ffffff;
}

.callback:before {
    display: block;
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    margin: -1px 0 0 -1px;
    border: 1px solid #5e5c5b;
}

.callback:hover:before {
    animation: showborder .3s linear;
}

@keyframes showborder {
    0% {
        width: 0;
        height: 0;
        opacity: 0;
        border: 1px solid #5e5c5b;
    }
    99% {
        width: 140%;
        height: 180%;
        top: -40%;
        left: -20%;
        opacity: 1;
        border: 1px solid #ffffff;
    }
    100% {
        width: 0;
        height: 0;
        top: 50%;
        left: 50%;
        opacity: 0;
        border: 1px solid #5e5c5b;
    }
}

.main-nav {
    /*position: relative;*/
    display: block;
    height: auto;
    /*outline: 1px solid red;*/
}

.main-nav:after {
    display: block;
    content: "";
    width: 100%;
    height: 16px;
    position: absolute;
    bottom: 0;
    /*left: 10%;*/
    left: 0;
    /*border-radius: 50%;*/
    -webkit-box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, .1);
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, .1);
}

.main-nav .col {
    display: block;
    width: 50%;
    /*overflow: hidden;*/
}

.main-nav .left {
    padding: 17px 76px 17px 0;
}

.main-nav .right {
    padding: 17px 0 17px 76px;
    text-align: right;
}

.logo-block {
    display: block;
    width: 152px;
    height: auto;
    position: absolute;
    top: 18px;
    left: 50%;
    margin: 0 0 0 -78px;
}

.logo {
    width: 152px;
    /*height: 96px;*/
}

.logo img {
    display: block;
    width: 100%;
    height: auto;
}

.main-nav ul {
    display: block;
}

.main-nav .left ul {
    margin: 0 0 0 -12px;
}

.main-nav .right ul {
    margin: 0 -12px 0 0;
}

.main-nav ul li {
    display: inline-block;
    vertical-align: top;
    padding: 4px 12px;
}

.main-nav ul li a {
    font-family: "PT Serif", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 15px;
    font-weight: normal;
    color: #656050;
    position: relative;

    -webkit-transition-property: color, border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color, border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color, border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color, border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color, border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.main-nav ul li a:link,
.main-nav ul li a:visted {
    color: #656050;
}

.main-nav ul li a.active {
    color: #948452;
}

.main-nav ul li a:active,
.main-nav ul li a:hover {
    color: #948452;
}

.main-nav ul li a:before {
    display: block;
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    margin: -1px 0 0 -1px;
    border: 1px solid #656050;
}

.main-nav ul li a:hover:before {
    animation: showborder_nav .3s linear;
}

@keyframes showborder_nav {
    0% {
        width: 0;
        height: 0;
        opacity: 0;
        border: 1px solid #656050;
    }
    99% {
        width: 140%;
        height: 140%;
        top: -20%;
        left: -20%;
        opacity: 1;
        border: 1px solid #948452;
    }
    100% {
        width: 0;
        height: 0;
        top: 50%;
        left: 50%;
        opacity: 0;
        border: 1px solid #948452;
    }
}


/*------  ----------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/

/*-- Main Page Section - 1 --*/

.promo-section {
    display: block;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.video-box {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/site_bg.jpg);
    background-position: center;
    background-size: cover;
    animation: showvideo 3s linear;
}
/*
.video-box:before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}*/

.video-box video {
    display: block;
    width: 100%;
    height: auto;
}

@keyframes showvideo {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.promo-section .row {
    display: table;
    width: 100%;
    /*min-height: 100vh;*/
}

/*.promo-section .row:before {
    display: table-cell;
    vertical-align: middle;
    width: 1%;
    content: "";
}*/

.center-block {
    display: table-cell;
    /*display: inline-block;*/
    vertical-align: middle;
    width: 98%;
    /*min-height: 100vh;*/
    text-align: center;
/*    position: relative;
    top: -45px;*/
    z-index: 2;
}

.h-box {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    overflow: hidden;
}

h1 {
    margin-top: -133px;
}

h1 .small {
    font-family: "PT Serif", Arial, Verdana, sans-serif;
    font-size: 60px;
    line-height: 60px;
    font-weight: normal;
    color: #ffffff;
    position: relative;
    top: 45px;
}

.center-block h2 {
    font-family: "PT Serif", Arial, Verdana, sans-serif;
    font-size: 30px;
    line-height: 40px;
    font-weight: normal;
    color: #ffffff;
    padding: 10px 0;
}

/*-- /Main Page Section - 1 --*/

/*-- Main Page Section - 2 --*/

.services-thumbnails {
    padding: 17px 0;
}

.services-thumbnails .thumbnail {
    display: inline-block;
    vertical-align: top;
    width: 16.66%;
    padding: 0 1%;
    min-height: 178px;
    position: relative;
}

.services-thumbnails .thumbnail .front,
.services-thumbnails .thumbnail .back {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 178px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding: 23px 2%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

.services-thumbnails .thumbnail .front {
    background: rgba(255, 255, 255, 1);
    z-index: 2;
}

.services-thumbnails .thumbnail .back {
    background: rgba(51, 102, 255, 1);
}

.services-thumbnails .thumbnail .img-box {
    display: block;
    width: 100%;
    height: 70px;
    text-align: center;
}

.services-thumbnails .thumbnail .img-box img {
    display: inline-block;
    vertical-align: top;
}

.services-thumbnails .thumbnail p {
    padding: 8px 0;
    font-family: "PT Serif", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: normal;
    color: #656050;
}

.services-thumbnails .thumbnail .back p {
    font-size: 18px;
    color: #ffffff;
}

.service {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
}

.service:hover {
    position: relative;
    z-index: 3;
}

.service:hover .inner,
.service.hover .inner {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.service .inner {
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
}

/*.service {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;

    -webkit-transition-property: transform, opacity, box-shadow;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: transform, opacity, box-shadow;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: transform, opacity, box-shadow;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: transform, opacity, box-shadow;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: transform, opacity, box-shadow;
    transition-duration: .3s;
    transition-timing-function: ease;
}*/

.service .inner:before {
    display: block;
    content: "";
    width: 100%;
    height: 178px;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-transition-property: box-shadow;
    -webkit-transition-duration: .7s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: box-shadow;
    -moz-transition-duration: .7s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: box-shadow;
    -ms-transition-duration: .7s;
    -ms-transition-timing-function: ease;

    -o-transition-property: box-shadow;
    -o-transition-duration: .7s;
    -o-transition-timing-function: ease;

    transition-property: opacity, box-shadow;
    transition-duration: .7s;
    transition-timing-function: ease;
}

.service:hover .inner:before {
    opacity: 1;
    -webkit-box-shadow: 0px 24px 30px 14px rgba(0, 0, 0, .17);
    -moz-box-shadow: 0px 24px 30px 14px rgba(0, 0, 0, .17);
    box-shadow: 0px 24px 30px 14px rgba(0, 0, 0, .17);
}

/*.service:hover {
    -webkit-transform: scale(1.06);
    -moz-transform: scale(1.06);
    -o-transform: scale(1.06);
    transform: scale(1.06);
}*/

.service .front,
.service .back {
    backface-visibility: hidden;
}

.service .front {
    z-index: 2;
}

.service .back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.service:hover .inner,
.service.hover .inner,
.service.flip .flipper {
    -webkit-transform: transform: rotateY(180deg);
    -moz-transform: transform: rotateY(180deg);
    -o-transform: transform: rotateY(180deg);
    transform: transform: rotateY(180deg);
}

/*-- /Main Page Section - 2 --*/

/*-- Main Page Section - 3 --*/

.tables {
    margin: 60px 0 0 0;
}

.tables h3 {
    padding-bottom: 18px;
}

.table {
    display: table;
    width: 100%;
    border-bottom: 1px solid #efefef;
}

.table-header-box {
    display: block;
    width: 100%;
    background: rgba(255, 255, 255, 1);
}

.table-header-box.fixed_position {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    border-top: 1px solid #dfdfdf;
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, .2);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, .2);
}

.table .cell {
    display: table-cell;
    vertical-align: baseline;
    text-align: right;
    padding: 10px 0;
}

.table .cell-1 {
    width: 34%;
    text-align: left;
}

.table .cell-2 {
    width: 18%;
    text-align: left;
}

.table .cell-3 {
    width: 8%;
}

.table .cell-4 {
    width: 7%;
}

.table .cell-5 {
    width: 8%;
}

.table .cell-6 {
    width: 8%;
}

.table .cell-7 {
    width: 8%;
}

.table .cell-8 {
    width: 9%;
}

.table-header .cell {
    padding: 2px 0;
}

.table-header h3 {
    font-family: "Clear Sans", Arial, Verdana, sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: normal;
    color: #848484;
    font-style: normal;
    padding-bottom: 1px;
}

.table .cell-1 p {
    font-family: "Clear Sans", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    color: #656050;
}

.table p {
    font-family: "Clear Sans", Arial, Verdana, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: #232325;
}

.car-icon {
    display: inline-block;
    vertical-align: baseline;
    width: 39px;
    height: 26px;
    position: relative;
    top: 2px;
    background-image: url(../img/price_header_sprite.png);
    background-repeat: no-repeat;
}

.car-icon.car-1 {
    background-position: -10px -1px;
}

.car-icon.car-2 {
    background-position: -100px 0;
}

.car-icon.car-3 {
    background-position: -190px 0;
}

.car-icon.car-4 {
    background-position: -280px 0;
}

.car-icon.car-5 {
     background-position: -371px 0;
}

.more-btn {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-width: 92px;
    text-align: center;
    background: transparent;
    padding: 0 2%;
    border: 1px solid #f2f1ef;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    font-family: "Clear Sans", Arial, Verdana, sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    color: #232325;
}

.table-link {

    display: block;

    -webkit-transition-property: background, width, margin, padding, box-shadow;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background, width, margin, padding, box-shadow;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background, width, margin, padding, box-shadow;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background, width, margin, padding, box-shadow;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background, width, margin, padding, box-shadow;
    transition-duration: .3s;
    transition-timing-function: ease;
    
    background: rgba(51, 102, 255, 0);
    width: 100%;
    margin: 0 0 0 0%;
    padding: 0 0%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.table-link:hover {
    background: rgba(51, 102, 255, 1);
    width: 104%;
    margin: -2px 0 0 -2%;
    padding: 2px 2% 0 2%;
    -webkit-box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, .2);
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, .2);
}

.table-link .table {
    -webkit-transition-property: border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.table-link:hover .table {
    border-bottom: 1px solid transparent;
}

.table-link .table p {
    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.table-link:hover .table p {
    color: #ffffff;
}

/*-- /Main Page Section - 3 --*/

/*-- Main Page Section - 4 --*/

.testimonials-section {
    background: rgba(35, 35, 37, 1);
}

.testimonial-slider-box {

}

.testimonial-slider {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.testimonial-slider .slide {
    font-size: 0;
    line-height: 0;
}

.testimonial-slider .slide .col {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.testimonial-slider .slide .col-1 {
    padding: 2px 2% 0 0;
}

.testimonial-slider .slide .col-2 {
    position: relative;
}

.slide p {
    font-family: "Clear Sans", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: normal;
    color: #ffffff;
    padding: 12px 0;
}

.autograph-box {
    text-align: right;
    margin: 16px 0 0 0;
}

.autograph-box p {
    line-height: 17px;
    padding: 0;
}

.autograph {
    display: inline-block;
    vertical-align: top;
    width: auto;
    position: relative;
    top: -17px;
    left: 10%;
}

.autograph img {
    display: block;
    width: 100%;
    height: auto;
}

.photos-block {
    width: 100%;
    height: 360px;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transition-property: width, height, right, background, box-shadow;
    -webkit-transition-duration: .7s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: width, height, right, background, box-shadow;
    -moz-transition-duration: .7s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: width, height, right, background, box-shadow;
    -ms-transition-duration: .7s;
    -ms-transition-timing-function: ease;

    -o-transition-property: width, height, right, background, box-shadow;
    -o-transition-duration: .7s;
    -o-transition-timing-function: ease;

    transition-property: width, height, right, background, box-shadow;
    transition-duration: .7s;
    transition-timing-function: ease;
}

.photos-block:hover {
    width: 200%;
    height: 437px;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, .7);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .5);
}

.photo {
    display: inline-block;
    vertical-align: top;
    width: 280px;
    height: 340px;
    padding: 20px;
    position: absolute;
    top: 0;
    z-index: 2;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -o-border-radius: 9px;
    border-radius: 9px;
    background: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, .25);
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, .25);

    -webkit-transition-property: box-shadow;
    -webkit-transition-duration: .7s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: box-shadow;
    -moz-transition-duration: .7s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: box-shadow;
    -ms-transition-duration: .7s;
    -ms-transition-timing-function: ease;

    -o-transition-property: box-shadow;
    -o-transition-duration: .7s;
    -o-transition-timing-function: ease;

    transition-property: box-shadow;
    transition-duration: .7s;
    transition-timing-function: ease;
}

.photo:hover {
    -webkit-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, .5);
}

.photo-1 {
    top: 83px;
    left: 4%;
    -webkit-transform: scale(.78) rotate(-22deg);
    -moz-transform: scale(.78) rotate(-22deg);
    -o-transform: scale(.78) rotate(-22deg);
    -webkit-transform: scale(.78) rotate(-22deg);

    -webkit-transition-property: top, left, transform;
    -webkit-transition-duration: .7s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: top, left, transform;
    -moz-transition-duration: .7s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: top, left, transform;
    -ms-transition-duration: .7s;
    -ms-transition-timing-function: ease;

    -o-transition-property: top, left, transform;
    -o-transition-duration: .7s;
    -o-transition-timing-function: ease;

    transition-property: top, left, transform;
    transition-duration: .7s;
    transition-timing-function: ease;
}

.photo-2 {
    top: 64px;
    right: 0;

    -webkit-transition-property: top, right;
    -webkit-transition-duration: .7s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: top, right;
    -moz-transition-duration: .7s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: top, right;
    -ms-transition-duration: .7s;
    -ms-transition-timing-function: ease;

    -o-transition-property: top, right;
    -o-transition-duration: .7s;
    -o-transition-timing-function: ease;

    transition-property: top, right;
    transition-duration: .7s;
    transition-timing-function: ease;
}

.photos-block:hover .photo-1 {
    top: 47px;
    left: 4%;
    -webkit-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    -webkit-transform: scale(1) rotate(0deg);
}

.photos-block:hover .photo-2 {
    top: 47px;
    right: 4%;
}

.photo .img-box {
    display: block;
    width: 100%;
    height: 240px;
    overflow: hidden;
}

.photo .img-box img {
    display: block;
    min-width: 100%;
    min-height: 100%;

    -webkit-transition-property: transform;
    -webkit-transition-duration: .9s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: transform;
    -moz-transition-duration: .9s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: transform;
    -ms-transition-duration: .9s;
    -ms-transition-timing-function: ease;

    -o-transition-property: transform;
    -o-transition-duration: .9s;
    -o-transition-timing-function: ease;

    transition-property: transform;
    transition-duration: .9s;
    transition-timing-function: ease;
}

.photo:hover .img-box img {
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    -o-transform: scale(1.07);
    -webkit-transform: scale(1.07);
}

.photo p {
    font-family: "Clear Sans", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    color: #000000;
    text-align: center;
    padding: 25px 2%;
}

.mdi-arrow-right-bold-circle-outline {
    display: block;
    width: 120px;
    height: 120px;
    font-size: 120px;
    line-height: 120px;
    color: #948452;
    margin: auto;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    -webkit-transition-property: opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.photos-block:hover .mdi-arrow-right-bold-circle-outline {
    opacity: 1;
}

.append-arrows {
    display: block;
    margin: 0 auto;
    position: relative;
    top: -99px;
    max-width: 1000px;
}

.append-arrows .slick-arrow {
    display: inline-block;
    vertical-align: top;
    background: transparent;
    cursor: pointer;
    position: relative;
    top: 7px;
    border: 1px solid transparent;
    height: 14px;
    font-family: "Clear Sans", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: normal;
    color: #ffffff;

    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.append-arrows .slick-arrow:hover {
    color: #948452;
}

.append-arrows .slick-arrow span {
    position: relative;
    top: -6px;
}

.append-arrows .slide-info {
    display: inline-block;
    vertical-align: top;
    margin: 0 8px;
}

.append-arrows .slide-info p {
    display: inline-block;
    vertical-align: top;
    font-family: "Clear Sans", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: normal;
    color: #ffffff;
}

.append-arrows .slide-info .slash {
    display: inline-block;
    vertical-align: top;
    font-family: "Clear Sans", Arial, Verdana, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    color: #ffffff;
    padding: 0 9px 0 8px;
}

.append-arrows .slide-info .slash:before {
    content: "\2f";
}


/*-- /Main Page Section - 4 --*/

/*-- Main Page Section - 5 --*/

.gallery-section {
    background: rgba(35, 35, 37, 1);
}

.gallery {
    position: relative;
}

.gallery .left {
    width: 25%;
    float: left;
    position: relative;
}

.slide-info-append {
    margin: 19px 0 0 0;
}

.gallery .right {
    width: 75%;
    float: right;
}

.gallery-slider {
    display: block;
    width: 100%;
    max-width: 680px;    
    height: 450px;
    position: relative;
    margin: 29px 0;
    z-index: 1;
}

.gallery-slider .slide {
    display: block;
    width: 100%;
    height: 450px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -o-border-radius: 9px;
    border-radius: 9px;
    -webkit-box-shadow: 0px 17px 20px 0px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0px 17px 20px 0px rgba(0, 0, 0, .3);
    box-shadow: 0px 17px 20px 0px rgba(0, 0, 0, .3);
}

.gallery-slider .slide .slide-info {
    display: none;
}

.slide-info {

}

.slide-info h3 {
    font-family: "Clear Sans", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
    padding: 4px 0;
}

.slide-info p {
    display: block;
    font-family: "Clear Sans", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 18px;
    font-weight: normal;
    color: #ffffff;
    padding: 0;
}

.slide-info .count-photo {
    font-family: "Clear Sans", Arial, Verdana, sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    color: #ffffff;
    padding: 0;
}

.gallery-slider .slide .img-box {
    width: 100%;
    height: 450px;
    /*height: 100%;*/
    overflow: hidden;
    border: 20px solid #ffffff;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -o-border-radius: 9px;
    border-radius: 9px;
    -webkit-pointer-events: none;
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    -webkit-transition-property: opacity;
    -webkit-transition-duration: .7s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .7s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .7s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .7s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .7s;
    transition-timing-function: ease;
}

.gallery-slider .slide img {
    display: block;
    width: auto;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    border: none;
}

.gallery-slider .slide {
    left: 0;
    transform: scale(1);
    background: rgba(35, 35, 37, 1);

    -webkit-transition-property: transform, left, border;
    -webkit-transition-duration: .7s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: transform, left, border;
    -moz-transition-duration: .7s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: transform, left, border;
    -ms-transition-duration: .7s;
    -ms-transition-timing-function: ease;

    -o-transition-property: transform, left, border;
    -o-transition-duration: .7s;
    -o-transition-timing-function: ease;

    transition-property: transform, left, border;
    transition-duration: .7s;
    transition-timing-function: ease;
}

.gallery-slider .slide:nth-child(1) {
    transform: scale(1);
    left: 0;
    z-index: 4;
}

.gallery-pagination {
    position: absolute;
    bottom: 25px;
    left: 0;
}

.gallery-arrow {
    display: inline-block;
    vertical-align: top;
    background: transparent;
    cursor: pointer;
    position: relative;
    top: 7px;
    border: 1px solid transparent;
    height: 14px;
    font-family: "Clear Sans", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: normal;
    color: #ffffff;

    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.gallery-arrow:hover {
    color: #948452;
}

.gallery-arrow span {
    position: relative;
    top: -6px;
}

.gallery-pagination-content {
    display: inline-block;
    vertical-align: top;
    margin: 0 8px;
}

.gallery-pagination-content p {
    display: inline-block;
    vertical-align: top;
    font-family: "Clear Sans", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: normal;
    color: #ffffff;
}

.gallery-pagination-content .slash {
    display: inline-block;
    vertical-align: top;
    font-family: "Clear Sans", Arial, Verdana, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    color: #ffffff;
    padding: 0 9px 0 8px;
}

.gallery-pagination-content .slash:before {
    content: "\2f";
}

.gallery-slide-photos {
    /*display: block;*/
    display: none;
    width: 100%;
    height: 100vh;
    /*overflow: hidden;*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.gallery-slide-photos-bg {
    display: block;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
}

.close-gallery-slide-btn {
    display: block;
    width: 60px;
    height: 60px;
    cursor: pointer;
    position: fixed;
    top: 10%;
    right: 2%;
    overflow: hidden;
    font-family: "Clear Sans", Arial, Verdana, sans-serif;
    font-size: 24px;
    line-height: 38px;
    font-weight: normal;
    color: #ffffff;
    border: 1px solid #000000;
    background: rgba(255, 255, 255, .3);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;

    -webkit-transition-property: color, background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color, background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color, background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color, background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color, background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.close-gallery-slide-btn:after {
    content: "\2716";
}

.close-gallery-slide-btn:hover {
    background: rgba(255, 255, 255, .2);
}


.slide-photos {
    /*display: block;*/
    display: none;
    width: 100%;
    height: 80vh;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    /*background: rgba(213, 213, 213, .9);*/
    /*background: rgba(0, 0, 0, .8);*/
    /*background: rgba(255, 255, 255, 1);*/
}

.photos-thumbnails {
    width: 98%;
    height: 80vh;
    margin: auto;
    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
/*    overflow: hidden;
    margin: 20px auto;*/
    text-align: center;
    position: relative;
    background: rgba(255, 255, 255, 1);
}

.photos-thumbnails .miniature {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 130px;
    overflow: hidden;
    margin: 10px;
    /*outline: 1px solid red;*/

    -webkit-box-shadow: 0px 1px 5px 4px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0px 1px 5px 4px rgba(0, 0, 0, .2);
    box-shadow: 0px 1px 5px 4px rgba(0, 0, 0, .2);

    -webkit-transition-property: box-shadow;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: box-shadow;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: box-shadow;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: box-shadow;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: box-shadow;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.photos-thumbnails .miniature:hover {
    -webkit-box-shadow: 0px 1px 10px 4px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0px 1px 10px 4px rgba(0, 0, 0, .4);
    box-shadow: 0px 1px 10px 4px rgba(0, 0, 0, .4);
}

/*.photos-thumbnails .miniature.on-center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -105px;
}*/

.photos-thumbnails .miniature img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    border: none;

    -webkit-transition-property: transform;
    -webkit-transition-duration: .7s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: transform;
    -moz-transition-duration: .7s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: transform;
    -ms-transition-duration: .7s;
    -ms-transition-timing-function: ease;

    -o-transition-property: transform;
    -o-transition-duration: .7s;
    -o-transition-timing-function: ease;

    transition-property: transform;
    transition-duration: .7s;
    transition-timing-function: ease;
}

.photos-thumbnails .miniature:hover img {
    transform: scale(1.05);
}

.fancybox-placeholder img {
    min-width: 80wh;
}

/*-- /Main Page Section - 5 --*/

/*-------------------------------------------*/
/* ----- FOOTER ------ */
/*-------------------------------------------*/

footer {
    display: block;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    z-index: 5;
}

.footer .row {
    border-top: 1px solid #424243;
    /*border-top: 1px solid rgba(0, 0, 0, .2);*/
}

.footer .col {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    padding: 22px 0;
}

.footer .col-1 {

}

.footer .col-2 {
    text-align: right;
}

.footer p {
    font-family: "Clear Sans", Arial, Verdana, sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #b3b3b3;
}

.maximus {
    display: inline-block;
    vertical-align: top;
    width: 60px;
    height: 24px;
    position: relative;
    top: -4px;
    margin: 0 0 0 1%;
}

.maximus:before {
    display: block;
    content: "";
    width: 100%;
    height: 24px;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/maximus.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.maximus:after {
    display: block;
    content: "";
    width: 100%;
    height: 24px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/maximus_hover.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.maximus:before,
.maximus:after {
    -webkit-transition-property: opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.maximus:hover:before {
    opacity: 0;
}

.maximus:hover:after {
    opacity: 1;
}
